<div id="home" class="surface-0 overflow-hidden">
  <div id="features" class="px-2 m-1">
  <div class="grid justify-content-center">
  <div class="col-12 text-center m-2">
  <h2 class="text-900 text-primary font-normal mb-1">Apresentação</h2>
  </div>



  <div
  class="col-12"
  style="
  height: auto;
  padding: 2px;
  margin: 2px;
  border-radius: 10px;
  background: var(--primary-color);
  "
  >
  <div class="p-3 surface-card h-full" style="border-radius: 8px">
  <div>
  <img
  class="border-circle h-6rem w-6rem"
  src="https://avatars.githubusercontent.com/u/72830794?v=4"
  />
  <!-- <img
  class="border-circle w-8rem h-8rem"
  src="assets/images/foto.jpg"
  alt="Logo"
  /> -->
  </div>
  <h5 class="mb-2 text-900">Nome: Gustavo Dourado Santos</h5>
  <h5 class="mb-2 text-900">Idade: 22 anos</h5>
  <h5 class="mb-2 text-900">
  E-mail: gustavo.dourado.br@gmail.com
  </h5>



  <h5 class="mb-2 text-900">
  Celular:
  <a
  class="underline p-link text-xl"
  href="https://api.whatsapp.com/send?phone=5511956594342&text=Ol%C3%A1%21+Gustavo, tudo bem ?&lang=pt_pt"
  target="_blank"
  >
  <span>(11) 956594342</span>
  </a>
  </h5>
  <h5 class="mb-2 text-900">São Paulo</h5>
  <h5 class="mb-2 text-900">
  Ocupação:Estagiário da Stefanini Group.
  </h5>
  </div>



  <!-- <div>
  <img src="https://lh3.googleusercontent.com/a-/AOh14Ghk0kzPqxBvQlkOUKpXj4NXGuWdZSyPz8YDSgSH=s96-c"/>
  </div> -->
  </div>
  </div>
  </div>
  </div>
